<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>401 Unauthorized</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    </head>

    <body>

        <article class="message is-danger">
        <div class="message-header">
            <p>401 Unauthorized</p>
            <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
            You're no cabbage! A real fan would know the answer to my query: how many <a href="https://launchschool.com/books/http/read/what_is_a_url">?cabbages=</a> does it take to win my heart?
        </div>
        </article>

    </body>
</html>