<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Warmer</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    </head>

    <body>

        <article class="message is-warning">
        <div class="message-header">
            <p>Nice try, you rabbaroo</p>
            <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
            Ohoho good try. But that's not how many ?cabbages= it takes.
        </div>
        </article>

    </body>
</html>